{% extends "app_shop/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}{% trans 'Products' %}{% endif %}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <img src="{% if product.image %}{{ product.image.url }}{% else %}No image{% endif %}" width="400" height="500">
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">{{ product.price }} {% trans 'RUB' %}</p>
        {{ product.description|linebreaks }}
        {{ product.category }}
    </div>
<p class="price">{{ product.price }} {% trans 'rub' %}</p>
<form action="{% url 'cart_add' product.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add to cart">
</form>
{% endblock %}