<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
</head>
    <body>
  <h3>Информация обо мне</h3>
  Имя пользователя:  {{ request.user.username }}<br>
  Имя:  {{ user.first_name }}<br>
  Фамилия:  {{ user.last_name }}<br>
  Дата рождения: {{ user.profile.date_of_birth }} <br>
  Email:  {{ user.email }}<br>
   id:  {{ user.id }}<br>
   Номер телефона:  {{ user.profile.phone_number }}<br>
   Номер скидочной карты: {{ user.profile.sale_card }}<br>
    Город: {{ user.profile.city }}<br>
    <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
</body>
</html>